# Ignorar arquivos gerados pelo PMD
pmd.xml
pmd-report.html
pmd-ruleset.xml
pmd.log
pmd/
target/pmd.xml
target/pmd/
target/pmd.xml
target/site/
target/site/pmd.html
*.html
target/javadoc-bundle-options
target/maven-javadoc-plugin-stale-data.txt
